extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Gerardo Keys

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p.
            Hello my name is Gerardo Keys and I am 32 years old. Ever since I was young I've always had a passion to create, whether its artwork or webpages, I've always had an eye for design. I started playing with HTML when I was in early high school, making a clone of our school webpage. Since then I always knew that my dream job would be in web-development. I am at a point in my life where I greatly desire a career change in to something I know I can excel at. 
            I've come across so many resources and teaching materials that it can sometimes be overwhelming. Luckily through my career in I.T I learned quickly how to take in a lot of information and be able to divide and conquer it into manageable chunks. Being able to do this has helped me become focused on the skills that matter. Since seriously committing myself to this journey starting about 10 months ago, I have become well-versed in many technologies, including JavaScript, HTML, CSS, Express, Pug. I have also learned and practiced the concepts arount object-oriented and asyncronous programming through a mix of classroom teaching at my local college as well as books and online materials. As I continue I hope to take what I've learned and continue to practice and create new projects. 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Express
          li NodeJS
          li Pug
          li JavaScript
          li JQuery 
          li HTML
          li CSS
          li Fetch API's
          li AJAX
        h6 Contact Info

        ul
          li 530-902-5254
          li jotojry@icloud.com

        a(href="https://github.com/rayzon1", target="_blank")
          img.button.expanded.git_ico(src ='../static/images/logos/github-mark.png')
        a(href="https://twitter.com/", target="_blank")
          img.button.expanded.twitter_ico(src ='../static/images/logos/twitter_logo.png')

  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  